*{
    box-sizing: border-box;
    font-family:sans-serif;


}
 body
  {
     background-color: #f2f2f2;
     display: flex;
     flex-direction: column;
     align-items: center;
 }
.calculator
 {


}