*{
    box-sizing: border-box;
    font-family:sans-serif;


}
 body
  {
     background-color: #f2f2f2;
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 h1{
    margin-top: 50px;
 }
.calculator
 {
    margin-top:20px;
    width: 300px;
    background-color:#222;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);

}
.display
{
    background-color: #000;
    color: rgb(229, 236, 229);
    height: 89px;
    margin-bottom: 25px;
    padding: 15px;
    font-size: 28px;
    text-align: right;
    border-radius: 8px;
    overflow: hidden;


}
.buttons
 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

.btn
 {
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
     
}
.btn:hover {
    opacity: 0.8;
}
.btn:active 
{
     transform: scale(0.95);
}